/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background:  no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 1500px;
}
.main-header {
    background-color:rgb(255, 255, 255, 0.8) ;
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu {
    margin-left: 227px;
    font-weight: 400;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}

/* Main */
main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
    font-family:Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {  
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Home */



/* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

/* Media Queries */
/*@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0em 3.5em 0em;
        text-align: center;
        float: none;
        font-size: 0.9em;
      }
      footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
      }
}

@media (max-width: 992px) {
    .logo img {
        position: relative;
        bottom: 8px;
    }
    .main-menu {
        width: 200px;
        background-color:rgb(255, 255, 255);
        position: absolute;
        right: 1.7em;
      }
      .main-menu ul li {
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
      }
      main {
        padding: 3em 1em 3em 1em;
        margin: 0;
      }
      #home .main-col-content {
        padding: 25px;
        min-height: 450px;
        margin-top: 1em;
      }
} */